header.c-header(role='banner')

    //- Could be moved to header/search.pug
    div.c-header__column.c-header__column--small
        form.c-search-bar--bottom(action='/search' method='get')
            span.c-search-bar__icon
                i.fa.fa-search
            input.c-search-bar__input(type='text' name='q' value='{SearchQuery}' placeholder='...')

    div.c-header__column.c-header__column--large
        | {block:ShowAvatar}
        img.c-avatar.c-avatar--center(class='c-avatar--shape-{AvatarShape}' src='{PortraitURL-128}')
        | {/block:ShowAvatar}

        | {block:ShowTitle}
        h1.c-blog-title
            a.c-blog-title__a(href='/' title='{lang:Home}') {Title}
        | {/block:ShowTitle}

        | {block:ShowDescription}
        p.c-blog-description {Description}
        | {/block:ShowDescription}
 
    div.c-header__column.c-header__column--small
        div.c-social-links
            | {block:IfWebsiteLink}
            a.c-social-links__a(href='{text:Website Link}')
                i.c-social-links__i.fa.fa-globe.fa-2x(aria-hidden='true')
            | {block:IfWebsiteLink}
            | {block:IfFacebookLink}
            a.c-social-links__a(href='{text:Facebook Link}')
                i.c-social-links__i.fa.fa-facebook.fa-2x(aria-hidden='true')
            | {/block:IfFacebookLink}
            | {block:IfTwitterLink}
            a.c-social-links__a(href='{text:Twitter Link}')
                i.c-social-links__i.fa.fa-twitter.fa-2x(aria-hidden='true')
            | {/block:IfTwitterLink}
            | {block:IfInstagramLink}
            a.c-social-links__a(href='{text:Instagram Link}')
                i.c-social-links__i.fa.fa-instagram.fa-2x(aria-hidden='true')
            | {/block:IfInstagramLink}

    div.clear
