// HEADER

head
	title {block:TagPage}{Tag} | {/block:TagPage}{block:SearchPage}{lang:Search results for SearchQuery} | {/block:SearchPage}{block:PostSummary}{PostSummary} | {/block:PostSummary}{Title}

	| {block:Description}
	meta(name='Description' content='{MetaDescription}')
	| {/block:Description}

	| {block:Hidden}
	meta(name='color:Body Color' content='|#ffffff')
	meta(name='color:Body Accent Color' content='#0000ff')
	meta(name='color:Body Text Color' content='#000000')

	meta(name='font:Body' content='Arial, Helvetica, sans-serif')

	// Custom fonts. Basalt allows for you to import fonts from GoogleFonts.
	meta(name='text:Google Font Imports' content='')

	// The font used for the title of the blog.
	meta(name='text:Custom Title Font' content='')

	// The font used for the header in post content.
	meta(name='text:Custom Header Font' content='')

	// The font used for the body in post content.
	meta(name='text:Custom Body Font' content='')

	meta(name='text:Website Link' content='')
	meta(name='text:Facebook Link' content='')
	meta(name='text:Twitter Link' content='')
	meta(name='text:Instagram Link' content='')
	| {/block:Hidden}

	meta(name='viewport' content='width=device-width, initial-scale=1')
	link(rel='shortcut icon' href='{Favicon}')
	link(rel='alternate' type='application/rss+xml' href='{RSS}')
	link(rel='apple-touch-icon-precomposed' href='{PortraitURL-128}')

	// Import GoogleFonts
	| {block:IfGoogleFontImports}
	link(rel='stylesheet' href='https://fonts.googleapis.com/css?family={text:Google Font Imports}')
	| {/block:IfGoogleFontImports}

	// Import FontAwesome
	link(rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css')

	// Import js vendors bundle.
	script(type='text/javascript' src='https://s3.ca-central-1.amazonaws.com/basalt-theme/vendors.bundle.js') 