div.c-page__content(class='{block:IndexPage}l-grid{/block:IndexPage}' role='main')
    div.l-grid__sizer
    div.l-grid__gutter
    | {block:Posts}

    article.c-post(class='{block:IndexPage}l-grid__item{/block:IndexPage} {block:PermalinkPage}c-post--full{/block:PermalinkPage}')

        //- text post
        | {block:Text}
        div.c-post__content.c-post__content--type-text
            | {block:Title}
            h1.c-post__title 
                a.c-anchor(href='{Permalink}' \{Target}) {Title}
            | {/block:Title}
            include like_reblog_buttons.pug
            div.l-clear

            | {Body}
        | {/block:Text}

        //- photo post
        | {block:Photo}
        figure.c-post__content.c-post__content--type-photo
            | {LinkOpenTag}
            img.c-post__image(src='{PhotoURL-HighRes}' alt='{PhotoAlt}')
            | {LinkCloseTag}
        
            | {block:Caption}
            figcaption.caption {Caption}
            | {/block:Caption}
        | {/block:Photo}

        //- photoset post
        | {block:Photoset}
        figure.c-post__content.c-post__content--type-photoset
            | {Photoset}

            | {block:Caption}
            figcaption.caption {Caption}
            | {/block:Caption}
        | {/block:Photoset}

        //- link post
        | {block:Link}
        div.c-post__content.c-post__content--type-link
            a(href='{URL}' class='link-name' \{Target}) {Name}

            | {block:Description}
            div.description {Description}
            | {/block:Description}
        | {/block:Link}

        //- audio post
        | {block:Audio}
        div.c-post__content.c-post__content--type-audio
            | {block:AudioEmbed}
            | {AudioEmbed color="white"}
            | {/block:AudioEmbed}

            | {block:Caption}
            div.caption {Caption}
            | {/block:Caption}
        | {/block:Audio}

        //- video post
        | {block:Video}
        div.c-post__content.c-post__content--type-video
            | {Video-700}

            | {block:Caption}
            div.caption {Caption}
            | {/block:Caption}
        | {/block:Video}

        //- post footer
        | {block:Date}
        footer.c-post__footer(role='contentinfo')
            | {block:RebloggedFrom}
            a.c-anchor(href='{ReblogParentURL}') {ReblogParentName}
            | &nbsp;&nbsp;&nbsp;&nbsp;
            | {/block:RebloggedFrom}

            | {block:NoteCount}
            a.c-anchor(href='{Permalink}#notes')
                | {NoteCount}
                i.fa.fa-sticky-note-o(aria-hidden="true")
            | &nbsp;&nbsp;&nbsp;&nbsp;
            | {/block:NoteCount}

            a.c-anchor(href='{Permalink}' title='{TimeAgo}')
                | {ShortMonth} {DayOfMonth} {ShortYear}

            | {block:PermalinkPage}
            | {block:HasTags}
            ul.tags
                | {block:Tags}
                li
                    a.c-anchor(href='{TagUrl}') \#{Tag}
                | {/block:Tags}
            | {/block:HasTags}

            | {block:PostNotes}
            div.post-notes
                | {PostNotes}
            | {/block:PostNotes}
            | {/block:PermalinkPage}
        | {/block:Date}
    | {/block:Posts}
    div.l-clear
