main.l-posts-container(role='main' "{block:IndexPage} data-columns {/block:IndexPage}")
    | {block:Posts}

    article.c-post("{block:PermalinkPage} class='js-column' {/block:PermalinkPage}")

        //- text post
        | {block:Text}
        div.c-post__content.c-post__content--type-text
            | {block:Title}
            h1.c-post__title 
                a.c-anchor(href='{Permalink}' \{Target}) {Title}
            | {/block:Title}

            | {Body}
        | {/block:Text}

        //- photo post
        | {block:Photo}
        figure.c-post__content.c-post__content--type-photo
            | {LinkOpenTag}
            img(src='{PhotoURL-HighRes}' alt='{PhotoAlt}')
            | {LinkCloseTag}
        
            | {block:Caption}
            figcaption.caption {Caption}
            | {/block:Caption}
        | {/block:Photo}

        //- photoset post
        | {block:Photoset}
        figure.c-post__content.c-post__content--type-photoset
            | {Photoset}

            | {block:Caption}
            figcaption.caption {Caption}
            | {/block:Caption}
        | {/block:Photoset}

        //- link post
        | {block:Link}
        div.c-post__content.c-post__content--type-link
            a(href='{URL}' class='link-name' \{Target}) {Name}

            | {block:Description}
            div.description {Description}
            | {/block:Description}
        | {/block:Link}

        //- audio post
        | {block:Audio}
        div.c-post__content.c-post__content--type-audio
            | {block:AudioEmbed}
            | {AudioEmbed color="white"}
            | {/block:AudioEmbed}

            | {block:Caption}
            div.caption {Caption}
            | {/block:Caption}
        | {/block:Audio}

        //- video post
        | {block:Video}
        div.c-post__content.c-post__content--type-video
            | {Video-700}

            | {block:Caption}
            div.caption {Caption}
            | {/block:Caption}
        | {/block:Video}

        //- post footer
        | {block:Date}
        footer.c-post__footer(role='contentinfo')
            a.c-anchor(href='{Permalink}' title='{ShortMonth} {DayOfMonth}{DayOfMonthSuffix} {Year}')
                | {TimeAgo}

            | {block:NoteCount}
            a.c-anchor(href='{Permalink}#notes')
                | {NoteCountWithLabel}
            | {/block:NoteCount}

            | {block:RebloggedFrom}
            a.c-anchor(href='{ReblogParentURL}')
                | {ReblogParentName}
            | {/block:RebloggedFrom}

            | {block:PermalinkPage}
            | {block:HasTags}
            ul.tags
                | {block:Tags}
                li
                    a.c-anchor(href='{TagUrl}') \#{Tag}
                | {/block:Tags}
            | {/block:HasTags}

            | {block:PostNotes}
            div.post-notes
                | {PostNotes}
            | {/block:PostNotes}
            | {/block:PermalinkPage}
        | {/block:Date}
| {/block:Posts}

div.l-clear