.c-post {

    &--full {
        max-width: 100%;
        height: auto;
    }

    &__content {
        max-height: 90%;
        overflow: hidden;

        &--type-text {
           line-height: 1.2;

            .c-post__title {
                line-height: 1;
            }
        }
    }

    &__image {
        display: block;
        max-width: 100%;
        // max-height: 100%;
    }

    &__title {
        float: left;
        font-size: 2em;
        margin-bottom: 0.5em;
    }

    &__footer {
        line-height: 2;
        text-align: right;
    }
}


.c-like-reblog {
    float: right;

    li {
        float: right;
        padding: 0px 0px 7px 15px;
    }
}