.c-header {
    display: block;
    padding: 2% 5%;
    height: 256px;
    max-height: 35vh;

    /*---background-color: {BackgroundColor};/**/
    /*---color: {AccentColor};/**/

    /*--- {block:ShowHeaderImage} /**/
        background-image: url('{HeaderImage}');
        background-repeat: no-repeat;
        background-attachment: relative;
        background-position: center;
    /*--- {/block:ShowHeaderImage} /**/

    &__column {
        height: 100%;
        float: left;
        position: relative;

        &--small {
            width: 30%;
        }

        &--large {
            width: 40%;            
        }        
    }
}