// NOTE: /*--- is  an escape sequence. Lines that begin with that pattern
// are ignored by sass and injected into the final .css

@import 'reset';
@import 'header';
@import 'search-bar';
@import 'post';


.c-page {
    background-color: '{color:Body Color}';
    color: '{color:Body Text Color}';
    /*---font-family: '{text:Custom Body Font}', {font:Body};/**/
    font-size: 1em;
}


.c-anchor {
    /*---color: {color:Body Accent Color};/**/
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }
}


.c-avatar {
    &--center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &--shape-circle {
        border-radius: 50%;
    }
}


.c-blog-title {
    display: block;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

    /*---color: {TitleColor};/**/
    /*---font-family: '{text:Custom Title Font}', {TitleFont};/**/
    font-size: 2em;

    &__a {
        color: inherit;
        text-decoration: none;
    }
}


.c-blog-description {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}


.c-blog-footer {
    /*---background-color: {BackgroundColor};/**/
    /*---color: {AccentColor};/**/

    padding: 10px;
    text-align: center;
}


.c-social-links {
    padding-top: 10px;
    float: right;

    &__a {
    display: block;
    text-decoration: none;
    margin-bottom: 7px;
    /*---color: {AccentColor};/**/
    }
    &__i {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


.l-clear {
  clear: both;
}


.l-posts-container {
    display: block;
    width: 100%;
    width: 1280px;
}


/*---{CustomCSS}/**/