// NOTE: /*--- is  an escape sequence. Lines that begin with that pattern
// are ignored by sass and injected into the final .css

@import 'reset';
@import 'c-search-bar';
@import 'c-post';
@import 'l-grid';


.c-page {
    font-size: 1em;
    /*---font-family: '{text:Custom Body Font}', {font:Body};/**/

    &__header {
        display: block;
        padding: 2% 5%;
        height: 256px;
        max-height: 35vh;

        /*---background-color: {BackgroundColor};/**/
        /*---color: {AccentColor};/**/

        /*--- {block:ShowHeaderImage} /**/
            background-image: url('{HeaderImage}');
            background-repeat: no-repeat;
            background-attachment: relative;
            background-position: center;
        /*--- {/block:ShowHeaderImage} /**/
    }

    &__content {
        display: block;
        padding: 2% 5%;
        width: 90%;

        background-color: '{color:Body Color}';
        color: '{color:Body Text Color}';
    }

    &__footer {
        /*---background-color: {BackgroundColor};/**/
        /*---color: {AccentColor};/**/

        padding: 10px;
        text-align: center;
    }
}


.c-anchor {
    /*---color: {color:Body Accent Color};/**/
    text-decoration: none;

    :hover {
        text-decoration: underline;
    }
}


.c-avatar {
    &--center {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    &--shape-circle {
        border-radius: 50%;
    }
}


.c-blog-title {
    display: block;
    margin-top: 5px;

    text-align: center;

    /*---color: {TitleColor};/**/
    /*---font-family: '{text:Custom Title Font}', {TitleFont};/**/
    font-size: 2em;
    line-height: 1.25;

    &__a {
        color: inherit;
        text-decoration: none;
    }
}


.c-blog-description {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}


.c-social-links {
    padding-top: 10px;
    float: right;

    &__a {
    display: block;
    text-decoration: none;
    margin-bottom: 7px;
    /*---color: {AccentColor};/**/
    }
    &__i {
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
}


.l-clear {
  clear: both;
}


.l-column {
    height: 100%;
    float: left;
    position: relative;

    &--small {
        width: 30%;
    }

    &--large {
        width: 40%;            
    }        
}


/*---{CustomCSS}/**/